.footer-div {
  width: 100vw;
  height: 100px;
  position: relative;
  bottom: 0;
  background-color: #C9C9C9;
  margin-top: 7vh;
}

.footer-div p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
