body {
  box-sizing: border-box;
}

.main-groups {
  width: 80vw;
  left: 10vw;
  margin-top: 7vh;
  padding: 10px;

  position: relative;
  z-index: 4;

  /* border: 1px solid #000000; */
}

.groups {
  width: 100%;
}

.info {
  width: 90%;
  margin-left: 10%;
}

.director {
  font-style: italic;
}

.info-voice {
  position: relative;
}


.voices-logo {
  width: 30vw;
  height: auto;
  position: absolute;
  right: 5vw;
  top: 50%;
  transform: translate(0, -50%);
}

.info-brass-each, .info-voice-each, .info-strings-each, .info-percussion-each {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1126px) {
  .info-voice img {
    display: none;
  }
}

@media (max-width: 710px) {
  span {
    width: 100%;
  }

  .time {
    margin-bottom: 1rem;
  }
}



.info-brass {
  /* border: 1px solid #000000; */
}
