.nav-link {
  color: inherit;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
  background-color: #008015;
  display: flex;
  width: 80vw;
  margin-left: 10vw;
  position: sticky;
  padding: 0;
  top: 0;
  z-index: 20;
}

.nav-link:hover {
  background-color: #FFFFFF;
  color: #008015;
}

.nav-link {
  text-align: center;
}

.inline {
  flex-grow: 1;
}

.Card {
  background-color: #008015;
}

.CardBody {
  padding: 0;
}

.active-link {
  background-color: #62B548;
  color: #FFFFFF;
}

@media (max-width: 710px) {
  .navbar {
    max-height: 65px;
    min-height: 40px;
    height: 10vw;
  }

  .navbar-toggler-icon {
    max-height: 65px;
    min-height: 28px;
    height: calc(10vw - 16px);
    border: 1px solid #FFFFFF;
  }
}
